:root {
  --board-size: 40px;
  --board-border: 0.5px black solid;
}

.board {
  display: inline-flex;
  flex-direction: column;
  border: 0.1px black solid;
  padding: 0px;
}

.board-top {
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: flex-end;
}

.board-bottom {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
  --dims: 3;
  grid-template-columns: repeat(var(--dims), 1fr);
  grid-template-rows: repeat(var(--dims), 1fr);
  grid-gap: 0px;
  border: var(--board-border);
  padding: 0px;
}

.block {
  display: inline-block;
  height: var(--board-size);
  width: var(--board-size);
  border: var(--board-border);
  padding: 0px;
  position: relative;
  align-items: center;
}

.block.empty {
  background-color: #fff;
}

.block.filled {
  background-color: #646464;
}

.block.crossed {
  background-color: #fff;
}

.cross {
  display: flex;
  margin: 0 auto;
}

.hint-pane {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  border: var(--board-border);
}


.hint-bar {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50.5%, 18%); */

  display: flex;
  align-items: center;
  justify-content: center;
  --num-hints: 1;
  height: var(--board-size);
  width: var(--board-size);
  background-color: #b5b5b5;
}

.hint-bar.x {
  flex-direction: row;
  width: calc(var(--board-size) * var(--num-hints));
}

.hint-bar.y {
  flex-direction: column;
  height: calc(var(--board-size) * var(--num-hints));
}

/*TODO: simpler way to set dimensions?*/
.hint { 
  display: flex;
  height: var(--board-size);
  width: var(--board-size);
  align-items: center;
  justify-content: center;
  font-size: calc(var(--board-size) * 0.6);
  color: #000;
  border-left: #646464 0.5px solid;
  border-right: #646464 0.5px solid;
  border-top: var(--board-border);
  border-bottom: var(--board-border);
  background-color: #c4c4c4;
  overflow: hidden;
  box-sizing: border-box;
  user-select: none;
}

.hint.filled {
  color: #606060;
}