.grid-container {
  display: inline-grid;
  --size: 3;
  grid-template-columns: repeat(var(--size), auto);
  grid-template-rows: repeat(var(--size), auto);
  grid-gap: 0px;
  border: 0.5px black solid;
  padding: 0px;
}